* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    font-family: 'Nunito', sans-serif;
}

/*
REGISTER USER
*/
.Register, .Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-box, .login-box {
    background-color: #808080;
    width: 60%;
    height: 40%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form, .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.register-form-title, .login-form-title {
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
}

.register-form label, .login-form label {
    user-select: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 80%;
    color: #fff;
}

.register-form input, .login-form input {
    border-radius: 3px;
    border: none;
    height: 3vh;
    text-indent: .5rem;
    outline: none;
}

.btn-register-submit, .btn-login-submit {
    width: 80%;
    height: 2rem;
    border-radius: 3px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    transition: background 0.3s ease, color 0.3s ease;
    cursor: pointer;
    background: #000;
    color: #fff;
    margin-bottom: 1rem;
}

.btn-register-submit:hover, .btn-login-submit:hover {
    background: #fff;
    color: #000;
}

.register-error, .login-error {
    border-radius: 3px;
    background: #ffff99;
    width: 80%;
    height: 2rem;
    color: #333333;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.register-error button, .login-error button {
    border: 1px solid #000;
    padding: 2px;
    background: #ccc966;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
}

/*
NAVBAR
*/
.Navbar {
    background: #808080;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-items {
    margin: 20px 20px;
    background: #000;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-app-name {
    margin: 20px 20px;
    color: #fff;
    font-size: 2rem;
}

.nav-logged-user {
    color: #fff;
}

.nav-link {
    user-select: none;
    text-decoration: none;
    color: #fff;
}