* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    font-family: 'Nunito', sans-serif;
    user-select: none;
}

/*
REGISTER USER
*/
.Register, .Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-box, .login-box {
    background-color: #808080;
    width: 60%;
    height: 40%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form, .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.register-form-title, .login-form-title {
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
}

.register-form label, .login-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 80%;
    color: #fff;
}

.register-form input, .login-form input {
    border-radius: 3px;
    border: none;
    height: 3vh;
    text-indent: .5rem;
    outline: none;
}

.btn-register-submit, .btn-login-submit {
    width: 80%;
    height: 2rem;
    border-radius: 3px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    transition: background 0.3s ease, color 0.3s ease;
    cursor: pointer;
    background: #000;
    color: #fff;
    margin-bottom: 1rem;
}

.btn-register-submit:hover, .btn-login-submit:hover {
    background: #fff;
    color: #000;
}

.register-error, .login-error {
    border-radius: 3px;
    background: #ffff99;
    width: 80%;
    height: 2rem;
    color: #333333;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.register-error button, .login-error button {
    border: 1px solid #000;
    padding: 2px;
    background: #ccc966;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
}

/*
NAVBAR
*/
.Navbar {
    background: #808080;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-app-name {
    margin: 20px 20px;
    color: #fff;
    font-size: 2rem;
}

.nav-logged-user {
    color: #fff;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    background: #000;
    margin-right: 10px;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

/*
HOME
*/
.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-features-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.home-features-container > * {
    text-decoration: none;
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 1.5rem;
    border-radius: 5px;
    transition: transform 0.3s ease, color 0.3s ease, background 0.3s ease;
}

.home-features-container > *:hover {
    transform: scale(1.07);
    color: #fff;
    background: #000;
    border: 1px solid #fff;
}

/*
Categories
*/
.CategoryManagement {
    color: #fff;
}

.categories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories-services-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid #fff;
    height: 85vh;
    width: 80vw;
}

.categories-table {
    margin: 1rem 0px 0px 1rem;
    overflow: auto;
    width: 50%;
    height: 100%;
}

.categories-functions {
    margin: 1rem 1rem 0px 0px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #808080;
}

td {
    font-size: 0.9rem;
}