* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    font-family: 'Nunito', sans-serif;
    user-select: none;
    color: #fff;
}

/*
REGISTER USER
*/
.Register, .Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-box, .login-box {
    background-color: #808080;
    width: 60%;
    height: 40%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form, .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.register-form-title, .login-form-title {
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
}

.register-form label, .login-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 80%;
    color: #fff;
}

.register-form input, .login-form input {
    border-radius: 3px;
    border: none;
    height: 3vh;
    text-indent: .5rem;
    outline: none;
}

.btn-register-submit, .btn-login-submit {
    width: 80%;
    height: 2rem;
    border-radius: 3px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    transition: background 0.3s ease, color 0.3s ease;
    cursor: pointer;
    background: #000;
    color: #fff;
    margin-bottom: 1rem;
}

.btn-register-submit:hover, .btn-login-submit:hover {
    background: #fff;
    color: #000;
}

.register-error, .login-error {
    border-radius: 3px;
    background: #ffff99;
    width: 80%;
    height: 2rem;
    color: #333333;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.register-error button, .login-error button {
    border: 1px solid #000;
    padding: 2px;
    background: #ccc966;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
}

/*
NAVBAR
*/
.Navbar {
    background: #808080;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-app-name {
    margin: 20px 20px;
    color: #fff;
    font-size: 2rem;
}

.nav-logged-user {
    color: #fff;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    background: #000;
    margin-right: 10px;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

/*
HOME
*/
.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.Home span {
    position: relative;
    top: -30%;
    font-size: 2rem;
}

.home-features-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    position: relative;
    top: -20%;
}

.home-features-container > * {
    text-decoration: none;
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 1.5rem;
    border-radius: 5px;
    transition: transform 0.3s ease, color 0.3s ease, background 0.3s ease;
}

.home-features-container > *:hover {
    transform: scale(1.07);
    color: #fff;
    background: #000;
    border: 1px solid #fff;
}

/*
Categories
*/
.CategoryManagement {
    color: #fff;
    position: relative;
}

.categories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories-services-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid #fff;
    height: 85vh;
    width: 80vw;
}

.categories-table {
    margin: 1rem 0px 0px 1rem;
    overflow: auto;
    width: 50%;
    height: 100%;
}

/*ALL TABLES*/
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #808080;
}

td {
    font-size: 0.9rem;
}
/*END OF TABLES*/

.categories-functions {
    margin: 1rem 1rem 0px 0px;
    padding: 1rem;
    width: 50%;
}

.categories-form {
    display: flex;
    flex-direction: column;
}

.categories-form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.categories-form-input input {
    outline: none;
    text-indent: 5px;
}

.categories-form button, .btn-delete-category {
    background: #fff;
    border: none;
    height: 3rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 3px;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
    margin-bottom: 1rem;
}

.categories-form button:hover, .btn-delete-category:hover {
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    transform: scale(1.03)
}

.btn-delete-category {
    width: 100%;
}

.category-table-row {
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.category-table-row:hover {
    background: #fff;
    color: #000;
    transform: scale(1.025)
}

.clicked-row {
    background: #fff;
    color: #000;
    animation: enlargeAndShrink 0.1s linear;
}

@keyframes enlargeAndShrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.035);
    }
    100% {
        transform: scale(1);
    }
}

.error-alert-category {
    background: orange;
    height: 10vh;
    border-radius: 3px;
    color: #FF0000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: bold;
}

.bi-exclamation-triangle {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 20%;
    left: 5%;
}

.btn-close-warning {
    background: orange;
    border: 1px solid #FF0000;
    color: #FF0000;
    position: absolute;
    top: 5%;
    right: 2%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
}

/*TRANSACTION MANAGEMENT*/
.transaction-management {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.transactions-form {
    margin-top: 1rem;
}

.transactions-form-input {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-bottom: 1rem;
    border-radius: 3px;
}

.transactions-form-input input{
    outline: none;
    text-indent: 0.5rem;
}

.transactions-form-input textarea {
    text-indent: 0.5rem;
}

.transactions-form button, .btn-transactions-refresh {
    width: 100%;
    height: 3rem;
    color: #000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3rem;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
    margin-bottom: 1rem;
}

.transactions-form button:hover, .btn-transactions-refresh:hover {
    background: #000;
    border: 1px solid #fff;
    color: #fff;
    transform: scale(1.03)
}

.transactions-warning {
    background: orange;
    color: #FF0000;
    font-weight: bold;
    width: 80%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    position: relative;
}

.tx-warning-sign {
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 25%;
    left: 1%;
}

.transaction-alert-success, .category-alert-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #808080;
    width: 50%;
    height: 15vh;
    border-radius: 3px;
    color: #fff;
    position: absolute;
    font-weight: bold;
    z-index: 1;
}

.category-alert-success {
    top: 30%;
    left: 25%;
}

.close-successful-alert {
    width: 50%;
    height: 2rem;
    border: none;
    border-radius: 3px;
    margin-top: 1rem;
    background: #fff;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

/*ACCOUNT BALANCEaccount-balance-transaction-info*/
.AccountBalance {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AccountBalance h1 {
    margin-top: 1.5rem;
}

.account-balance-transaction-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.account-balance-transactions-table {
    margin: 2rem 0 2rem 0;
    overflow: auto;
}

.account-balance-filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    border: 1px solid #fff;
    height: 20vh;
}

.account-balance-filter-container h2 {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #fff;
}

.filter-options {
    display: flex;
    width: 100%;
}

.filter-option {
    display: flex;
    flex-direction: column;
    width: 14rem;
}

.btn-filters {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.btn-filters button {
    width: 15rem;
    height: 2rem;
    border: none;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3 ease, color 0.3 ease, transform 0.3 ease;
}

.btn-filters button:hover {
    background: #fff;
    color: #000;
    transform: scale(1.07)
}

/*TOTALS*/

.totals-options {
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 5rem;
}

.totals-options button {
    background: #000;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    height: 100%;
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
}

.totals-options button:hover {
    background: #fff;
    color: #000;
}

.Totals {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.totals-info {
    display: flex;
    flex-direction: column;
}

.totals-sub-info {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border: 1px solid #fff;
    padding: 1rem;
}

.alternative-currencies-info {
    margin-top: 0.5rem;
}

.Totals h2 {
    text-decoration: underline;
}

.alternative-total {
    margin-top: 1rem;
}

.totals-category-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.totals-category-form button {
    margin-top: 0.5rem;
    width: 25%;
    height: 2rem;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3 ease, color 0.3 ease;
}

.totals-category-form button:hover {
    background: #fff;
    color: #000;
}

.category-message {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

/*RECURRING BILLS*/

.RecurringBills {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.recurring-bills-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
}

.recurring-bills-input {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 1rem;
}

.recurring-bills-input div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.recurring-bills-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.recurring-bills-buttons button {
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 70%;
    height: 3rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    font-weight: bold;
    font-size: 1rem;
}

.recurring-bills-buttons button:hover{
    background: #fff;
    color: #000;
}

.recurring-bill-message-box {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
}

.recurring-bill-success-message, .recurring-bill-error-message {
    background: #808080;
    height: 10rem;
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
}

.recurring-bill-success-message button, .recurring-bill-error-message button {
    position: absolute;
    top: 0.7rem;
    right: 0.5rem;
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

